* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Telegraf Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Telegraf Regular'), url(/ChaDaMari/assets/fonts/TelegrafRegular_272984568a25d8528fe2de8b20b29011.woff) format('woff');
    }

:root {
    --dark-green: #101A09;
    --light-green: #D6E3CC;
    ---font-family: "Telegraf Regular", serif;
}