body{
   overflow-x: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header {
    height: 80px;
    width: 100%;
    background-color: var(--dark-green);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .logo {
    max-width: 150px; 
    height: auto; 
}

.mao-da-noiva {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    min-height: 620px;
    z-index: -2;
}

.mao-da-noiva2 {
    width: 100%; 
    min-height: 620px;
    object-fit: cover; 
    position: absolute; 
    top: 0;
    left: 0;
    z-index: -1;
}

.box-img {
    margin-top: 60px;
    width: 90%;
    max-width: 300px;
    background-color: var(--light-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--dark-green);
    padding: 20px; 
    box-sizing: border-box;
    text-align: center; 
}

.img-logo-colheres {
    width: 80%; 
    max-width: 160px; 
    height: auto;
    margin-bottom: 10px; 
}

.img-mao-da-noiva {
    width: 90%; 
    max-width: 300px; 
    height: auto;
}

.importante {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative; 
    z-index: 1;
    margin-top: -20px; 
}

.logo-importante {
    max-width: 339px;
}

.importante p {
    font-size: 1.2em; /* Use em para um tamanho de fonte responsivo */
    line-height: 1.5; /* Melhora a legibilidade */
    color: var(--text-color);
}
.box-importante {
    z-index: 2;
    width: 90%; 
    max-width: 450px;
    min-height: 300px; 
    background-color: var(--light-green);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.local {
    z-index: 2;
    width: 100%;
    background-color: var(--dark-green);
    padding-top: 30px;
    padding-bottom: 80px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--light-green);
    position: relative;
}

.logo-local{
    max-width: 179px;
}

.local p {
    color: var(--light-green);
    font-size: 1.2em;
    margin: 30px 0;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.google-maps {
    z-index: 999;
    box-shadow: 2px 3px 5px var(--dark-green);
    width: 90%; 
    max-width: 320px; 
    height: 200px; 

    position: absolute;
    bottom: -125px;
}

.lista-de-presentes {
    width: 100%;
    background-color: var(--light-green);
    padding-top: 160px;
    padding-bottom: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo-presentes {
    max-width: 332px;
}

.logo-laço {
    max-width: 218px;
    margin-bottom: 18px;
}

.area-pdf {
     background-color: var(--dark-green);
    padding: 30px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--light-green);
}

.pdf {
    max-width: 58px;
    height: auto;
}

.presença {
    background-color: var(--light-green);
    padding: 30px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.presença img {
    max-width: 90%;
    height: auto;
    margin-left: 20px;
}


footer {
    background-color: var(--dark-green);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--light-green);
}

footer p {
    font-size: 0.8em;
    color: var(--light-green);
}



@media (max-width: 480px) {
    .importante p {
        font-size: 1em;

    }

    .box-importante {
        padding: 15px;
    }
}